
body {
	overflow-x:hidden;
	overflow-y:hidden;
}

.titlebox-primary {
	font-family: "Lucida Console", Courier, monospace;
	background-color: #444444;
	color: #999999;
}

.title-primary {
	margin: auto;
	width: 100%;
	padding: 2rem;
	text-shadow: 2px 4px #444444;
}

.content-primary {
	width: 100%;
	padding: 2rem;
}

.box-primary {
	border: 1px solid gray;
}

.sel-col {
	display:flex;
	justify-content: center;
	max-width: 100%;
}

/* Animations */

/* Fade */

.fade-in-delay {
	opacity: 0;

	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;

	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	-ms-animation-delay: 1s;

	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;

}

.fade-in {
	opacity: 0;

	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;

	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;

}

.fade-out-nodelay {
	opacity: 0;

	animation: fadeOut ease 2s;
	-webkit-animation: fadeOut ease 2s;
	-moz-animation: fadeOut ease 2s;
	-o-animation: fadeOut ease 2s;
	-ms-animation: fadeOut ease 2s;

	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;

}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
