
body {
	overflow-x:hidden;
	overflow-y:scroll;
}

.title-primary {
	font-family: "Lucida Console", Courier, monospace;
	background-color: #444444;
	color: #999999;
}

.box-primary {
	border: 1px solid gray;
}