{% extends "default.html" %}


{% block content %}

		<div class="text-center title-primary">
			<h1>Mabinyogi Creator</h1>
		</div>

		<div>
			<div class="row">
				<div class="col-sm-6 text-center box-primary">
					<h3>Selections</h3>
				</div>
				<div class="col-sm-6 text-center box-primary">
					<h3>Options</h3>
				</div>
			</div>
		</div>

		<br/>

		<!-- Left Column -->
		<div class="row">
		<div class="col-sm-6 sel-col">
			<br/>
			<!-- Name -->
			<div class="col-sm-4 form-group">
				{{ form.char_name.label }} {{ form.char_name(class="form-control")}}
				{% if form.char_name.errors %}
					<ul class="errors">
						{% for error in form.char_name.errors %}
							<li{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

			<br/>

			<!-- Race, Stature, Class -->
			<div class="col-sm-4">
				<form method="POST" action="">
					<div class="form-group form-field">
						{{ form.char_race.label }} {{ form.char_race(class="form-control")}}
						{% if form.char_race.errors %}
							<ul class="errors">
								{% for error in form.char_race.errors %}
							 		<li{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
					<div class="form-group form-field">
						{{ form.char_stature.label }} {{ form.char_stature(class="form-control")}}
						{% if form.char_stature.errors %}
							<ul class="errors">
								{% for error in form.char_stature.errors %}
									<li{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
					<div class="form-group form-field">
						{{ form.char_class.label }} {{ form.char_class(class="form-control")}}
						{% if form.char_class.errors %}
							<ul class="errors">
								{% for error in form.char_class.errors %}
									<li{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
					{{ form.submit }}
				</form>
			</div>
		</div>

		<!-- Right Column -->
		<div class="col-sm-6 sel-col">
			<br/>

			<!-- Item Type -->
			<div class="col-sm-4 form-group">
				<form>
					<select class="form-control form-control-sm">
						<option>Weapon</option>
						<option>Armor</option>
					</select>
				</form>
				<br/>
			</div>

			<!-- Weapon, Armor -->
			<div class="col-sm-4 form-group">
				<select multiple class="form-control" id="exampleFormControlSelect2">
		      <option>Wood Dagger</option> <!-- Note: Make options dynamic -->
		      <option>Bronze Dagger</option>
		      <option>Iron Dagger</option>
		      <option>Steel Dagger</option>
		      <option>Manasteel Dagger</option>
		    </select>
			</div>
		</div>
		</div>

{% endblock %}
