{% extends "default.html" %}


{% block content %}

		<div class="text-center title-primary">
			<h1>Mabinyogi Creator</h1>
		</div>

		<div>
			<div class="row">
				<div class="col-sm-6 text-center box-primary">
					<h3>Selections</h3>
				</div>
				<div class="col-sm-6 text-center box-primary">
					<h3>Options</h3>
				</div>
			</div>
		</div>

		<br/>

		<!-- Left Column -->
		<div class="row">
		<div class="col-sm-6 sel-col">
			<br/>
			<!-- Name -->
			<div class="col-sm-4 form-group">
				<input type="text" class="form-control" placeholder="Character Name">
			</div>

			<br/>

			<!-- Race, Stature, Class -->
			<div class="col-sm-4 form-group">
				<form>
					<select class="form-control form-control-sm">
						<option>Race</option>
					</select>
				</form>
				<br/>
				<form>
					<select class="form-control form-control-sm">
						<option>Stature</option>
					</select>
				</form>
				<br/>
				<form>
					<select class="form-control form-control-sm">
						<option>Class</option>
					</select>
				</form>
			</div>
		</div>

		<!-- Right Column -->
		<div class="col-sm-6 sel-col">
			<br/>

			<!-- Item Type -->
			<div class="col-sm-4 form-group">
				<form>
					<select class="form-control form-control-sm">
						<option>Weapon</option>
						<option>Armor</option>
					</select>
				</form>
				<br/>
			</div>

			<!-- Weapon, Armor -->
			<div class="col-sm-4 form-group">
				<select multiple class="form-control" id="exampleFormControlSelect2">
		      <option>Wood Dagger</option> <!-- Note: Make options dynamic -->
		      <option>Bronze Dagger</option>
		      <option>Iron Dagger</option>
		      <option>Steel Dagger</option>
		      <option>Manasteel Dagger</option>
		    </select>
			</div>
		</div>
		</div>

{% endblock %}
